body {
	font-family: 'poppins', Arial;
	background: #FAFAFA;
	max-width: 960px;
	margin: auto;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 16px 0px 16px;
	border-bottom: 1px solid #b8b6bf;
}

#menu {
	display: flex;
	gap: 16px;
	list-style: none;
}

#menu a {
	color: #090021;
	text-decoration: none;
}

header {
	background-color: #137160;
	color: #f8F8F8;
	padding: 100px 32px 8px 32px;
	margin: auto;
}

h1 {
	font-size: 32px;
}

.subtitle {
	font-size: 22px;
	margin-bottom: 86px;
}

h2 {
	font-size: 25px;
}

.course-image {
	max-width: 960px;
	width: 100%;
}

section {
	margin: 86px 16px;
	max-width: 960px;
	margin: auto;
	width: 100%;
}

.card {
	border: 1px solid #F5F5F5;
	padding: 16px 16px 8px 16px;
	border-radius: 8px;
	background: #FFFFFF;
}

.flex-concepts {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
}

.card {
	width: calc(50% - 8px);
	box-sizing: border-box;
}

.title-definition {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-bottom: 8px;
}

.title-definition h4 {
	margin: 0px;
}

.flex-languages {
	display: flex;
	gap: 16px;
	
}

.language-title {
	display: flex;
	align-items: center;
	gap: 8px;
}

#tools .card {
	padding-left: 45px;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	gap: 8px;

}